DATABASE_URL="postgresql://kodo_dev:tu_password_local@127.0.0.1:5432/kodo_dev?schema=public"
PORT=4000
CORS_ORIGIN=http://localhost:3000
JWT_ACCESS_SECRET=genera_un_secreto_largo_y_aleatorio
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES_DAYS=30
SHADOW_DATABASE_URL="postgresql://kodo_dev:tu_password_local@127.0.0.1:5432/kodo_shadow?schema=public"
